body {
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  background: url("./assets/BG.png");
}

.plane {
  background: url("./assets/Plane/Fly (1).png") no-repeat;
  background-size: cover;
  width: 110px;
  height: 75px;
  position: absolute;
  top: 75vh;
  left: -110px;
}

.text {
  font-family: Poppins, sans-serif;
  position: absolute;
  top: 75vh;
  left: 1110px;
  color: white;
  font-size: 40px;
  transform: rotate(60deg);
}

.bullet {
  opacity: 0;
  background: url("./assets/Bullet/Bullet (1).png") no-repeat;
  background-size: cover;
  width: 110px;
  height: 115px;
  position: absolute;
  top: 75vh;
  left: 910px;
}
